<html>
<head>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
</head>
<body>
    @RenderBody()

    <script src="~/Scripts/JQuery/jquery.js"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script>
        $('.mvc-grid').mvcgrid();
    </script>
</body>
</html>